/* FORMULARIO CONTACTO */
section form {
    display: block;
    color: #ff00c8;
    margin: 150px;
    font-weight: 60px;
    width: 200px;
    height: 100px;
    margin-left: 50px;
    padding: 80px;
    margin-top: 50px;
}
.formulario {
    width: 100px;
    height: 500px;
    font-size: 20px;
}
input, textarea {
    background-color: #703062;
    width: 500px;
}
.button {
    background-color: #58114f;
    color: #ffffff;
}
