// BARRA DE NAVEGACION TABLET
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: row;

    .nav-link {
      font-size: 21px;
      padding: 30px;
      margin: 0;
    }
  }
}

// FOOTER TABLET
@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 20px; 
    padding: 15px; 
    margin: 0;
  }
  .footer {
    flex-direction: column;
    

    &-right {
      flex: 1;
      margin-top: 20px;
      justify-content: flex-start;

      .footer-list {
        flex-direction: row;
        align-items: center;

        li {
          margin-left: 10px;
        }
      }
    }

    a {
      font-size: 21px;
      margin: 5px 0;
    }
  }
}

// INDEX TABLET
@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
    height: auto;
  }
  .why {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    padding: 80px;
  }
  .grilla {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 13%;
    
    .cajita {
      width: 100%;
      height: 195px;
      margin-right: 50px;
      
      img {
        width: 100%;
        height: 100%;
      }
      
      &:hover {
        border: 1px solid white;
      }
    }
  }
  
  .mapainteractivo {
    width: 500px;
    object-fit: contain;
    padding: 0;
  }
  .d-block-w-100 {
    width: 830px;
    height: 400px;
    margin-top: 50px;
  }
  
  .texto {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    padding: 30px;
  }
  .loguito {
    max-width: 150px;
    height: auto;
  }
}

// MOTHERBOARDS TABLET
@media screen and (max-width: 768px) {
  .placa-madre {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 50px;
  }
  .grillamother {
    flex-direction: column;
    
    .row {
      flex-direction: column;
      margin-bottom: 10px;
      
      .column {
        padding: 5px;
        
        img.vista-arriba,
        img.pins {
          left: auto;
          top: auto;
          margin: 0 auto;
          width: 100%;
          height: 350px;
          margin-left: 7%;
        }
      }
    }
    
    .textomother {
      margin-top: 20px;
      font-size: 22px;
      padding: 10px;
    }
  }
}

// CPU TABLET
@media screen and (max-width: 768px) {
  .procesador {
    flex-direction: column;
  }
  .proce-mano, .intel, .amd {
width: 100%;
height: 450px;
  }
}

// GPU TABLET
@media screen and (max-width: 768px) {
  .image-container {
    flex-direction: column;
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
  }
}

// RAM TABLET
@media screen and (max-width: 768px) {
  .ram-conteiner{
    flex-direction: column;
    img {
      width: 93%;
      height: 450px;
      object-fit: cover;
    }
  }
}

// CONTACTO TABLET
@media screen and (max-width: 768px) {
  section form {
    width: auto;
    margin: 30px auto;
    padding: 30px; 
  }

  .formulario {
    width: auto;
    height: auto;
    font-size: 20px; 
  }

  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}



// BARRA DE NAVEGACION MOBILE
@media (max-width: 400px) {
  .nav {
    flex-direction: row;

    .nav-link {
      font-size: 20px;
      padding: 15px;
      margin: 0;
    }
  }
}

// FOOTER MOBILE
@media (max-width: 400px) {
  .nav-link {
    font-size: 20px; 
    padding: 15px; 
    margin: 0;
  }
  .footer {
    flex-direction: row;
    

    &-right {
      flex: 1;
      margin-top: 20px;
      justify-content: flex-start;

      .footer-list {
        flex-direction: column;
        align-items: center;

        li {
          margin-left: 10px;
        }
      }
    }

    a {
      font-size: 20px;
      margin: 5px 0;
    }
  }
}

// INDEX MOBILE
@media (max-width: 400px) {
  .banner {
    width: 100%;
    height: auto;
  }
  .why {
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin-top: -60px;
    padding: 80px;
  }
  .grilla {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 13%;
    
    .cajita {
      width: 100%;
      height: 195px;
      margin-right: 50px;
      
      img {
        width: 100%;
        height: 100%;
      }
      
      &:hover {
        border: 1px solid white;
      }
    }
  }
  
  .mapainteractivo {
    width: 500px;
    object-fit: contain;
    padding: 0;
  }
  .d-block-w-100 {
    width: 500px;
    height: 250px;
    margin-top: 50px;
  }
  
  .texto {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    padding: 30px;
  }
  .loguito {
    max-width: 150px;
    height: auto;
  }
}

// MOTHERBOARDS MOBILE
@media (max-width: 400px) {
  .placa-madre {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }
  h1 {
    font-size: 50px;
  }
  .grillamother {
    flex-direction: column;
    
    .row {
      flex-direction: column;
      margin-bottom: 10px;
      
      .column {
        padding: 5px;
        
        img.vista-arriba,
        img.pins {
          left: auto;
          top: auto;
          margin: 0 auto;
          width: 100%;
          height: 200px;
          margin-left: 15%;
        }
      }
    }
    
    .textomother {
      margin-top: 20px;
      font-size: 20px;
      padding: 10px;
    }
  }
}

// CPU MOBILE
@media (max-width: 400px) {
  .procesador {
    flex-direction: column;
  }
  .proce-mano, .intel, .amd {
width: 100%;
height: 350px;
  }
}

// GPU MOBILE
@media (max-width: 400px) {
.image-container {
  flex-direction: column;
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}
}

// RAM MOBILE
@media (max-width: 400px) {
  .ram-conteiner{
    flex-direction: column;
    img {
      width: 90%;
      height: 350px;
      object-fit: cover;
    }
  }
}

// CONTACTO MOBILE
@media (max-width: 400px) {
  section form {
    width: auto;
    margin: 20px auto; /* Centrar el formulario */
    padding: 20px; /* Reducir el espacio interior */
  }

  .formulario {
    width: auto;
    height: auto;
    font-size: 14px; /* Letra más pequeña */
  }

  input,
  textarea {
    width: 100%; /* Llenar el ancho disponible */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
  }
}