/* GRIDS Y FLEX EN RAM */
.ram-conteiner {
    display: flex;
    justify-content: space-between;
}
.ram-img {
    width: 30%; 
    height: auto;
    margin: 50px; 
    border: $color4 solid 1px;
    margin-left: 22px;
}
