// MIXIN
@mixin estilo-enlaces {
    text-decoration: none;
    color: #333;
    transition: color 1s;
  
    &:hover {
      color: $color4;
    }
  }

/* IMAGENES Y MULTIMEDIA */
.gabinete {
    margin: 90px 90px 90px 90px;
    width: 300px;
    height: auto;
}
.cuadrado {
    margin: 90px 90px 90px 90px;
    width: 400px;
    height: auto;
}
.banner {
    width: 1903px;
    height: 700px;
}
    
.placa-madre {
    width: 1903px;
    height: 700px;
}
.vista-arriba {
    width: 800px;
    height: auto;
}
.pins {
    width: 800px;
    height: auto;
    margin-top: 50px;
}
.ram-mano { 
    width: 500px;
    height: auto;
}
.ram-socket {
    width: 500px;
    height: auto;
}
.ram-colocada {
    width: 500px;
    height: auto;
}
.proce-mano {
    width: 500px;
    height: auto;
    object-fit: cover;
    border: #ff00c8 solid 1px;
}
.intel { 
    width: 600px;
    height: auto;
    object-fit: cover;
    border: #ff00c8 solid 1px;
}
.amd {
    width: 500px;
    height: auto;
    object-fit: cover;
    border: #ff00c8 solid 1px;
}
.gpu-mano {
    width: 500px;
    height: auto;
}
.interior {
    width: 500px;
    height: auto;
}
.atras {
    width: 500px;
    height: auto;
}
.geforce {
    width: 100%;
    height: auto;
}
